swagger: "2.0"
info:
  title: Duolingo Unofficial API
  description: Unofficial API description for Duolingo.
  version: 1.0.0
host: www.duolingo.com
basePath: /
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  BearerAuth:
    type: apiKey
    name: Authorization
    in: header

security:
  - BearerAuth: []

paths:
  /leaderboards/{leaderboardID}/users/{userID}:
    $ref: "./operations/leaderboards.yaml"

  /login:
    $ref: "./operations/login.yaml"

  /users/{userID}:
    $ref: "./operations/users_logged.yaml"

  /users:
    $ref: "./operations/users_not_logged.yaml"

  /users/{userID}/subscriptions:
    $ref: "./operations/subscriptions.yaml"

  /users/{userID}/xp_summaries:
    $ref: "./operations/xpsummaries.yaml"
