swagger: "2.0"
info:
  title: Duolingo Unofficial API
  description: Unofficial API description for Duolingo.
  version: 1.0.0
host: www.duolingo.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  BearerAuth:
    type: basic

security:
  - BearerAuth: []

paths:
  /leaderboards/{leaderboardID}/users/{userID}:
    get:
      tags: ["Leaderboards"]
      operationId: getLeaderboard
      summary: Returns user information when not logged in.
      description: User information when not logged in.
      parameters:
        - in: path
          name: leaderboardID
          required: true
          type: string
          minimum: 1
          description: LeaderboardID
        - in: path
          name: userID
          required: true
          type: integer
          minimum: 1
          description: UserID
      responses:
        200:
          description: A Users object.
          schema:
            $ref: '#/definitions/Leaderdoard'
        400:
          description: The specified user ID or leaderboard ID is invalid (e.g. not a number).
        404:
          description: A user with the specified ID was not found.
        default:
          description: Unexpected error

  /login:
    post:
      tags: ["Login"]
      summary: Returns token in header.
      description: Login user
      parameters:
        - in: body
          name: username
          schema:
            $ref: '#/definitions/LoginData'
      responses:
        200:
          description: Login successful
        400:
          description: Invalid data
        403:
          description: Login failed
        default:
          description: Unexpected error

  /users/{userID}:
    get:
      tags: ["Users"]
      operationId: getUser
      summary: Returns user information.
      description: User information.
      parameters:
        - in: path
          name: userID
          required: true
          type: integer
          minimum: 1
          description: User ID
        - in: query
          name: fields
          type: array
          items:
            type: string
          description: Fields to retrieve
      responses:
        200:
          description: A User object.
          schema:
            $ref: '#/definitions/User'
        400:
          description: The specified user ID is invalid (e.g. not a number).
        404:
          description: A user with the specified ID was not found.
        default:
          description: Unexpected error

  /users:
    get:
      tags: ["Users"]
      operationId: getUsers
      summary: Returns user information when not logged in.
      description: User information when not logged in.
      parameters:
        - in: query
          name: username
          required: true
          type: string
          minimum: 1
          description: User Name
      responses:
        200:
          description: A Users object.
          schema:
            $ref: '#/definitions/UserList'
        400:
          description: The specified user ID is invalid (e.g. not a number).
        404:
          description: A user with the specified ID was not found.
        default:
          description: Unexpected error
  /users/{userID}/subscriptions:
    get:
      tags: ["Users"]
      operationId: getSubscriptions
      summary: Returns user subscription list.
      description: User subscription.
      parameters:
        - in: path
          name: userID
          required: true
          type: integer
          minimum: 1
          description: UserID
      responses:
        200:
          description: A Users object.
          schema:
            $ref: '#/definitions/SubscriptionList'
        400:
          description: The specified user ID is invalid (e.g. not a number).
        404:
          description: A user with the specified ID was not found.
        default:
          description: Unexpected error

definitions:
  UserList:
    properties:
      users:
          type: array
          items:
            $ref: '#/definitions/User'
  SubscriptionList:
    properties:
      subscriptions:
          type: array
          items:
            $ref: '#/definitions/User'
  LoginData:
    properties:
      distinctId:
        type: string
      identifier:
        type: string
      password:
        type: string
      landingUrl:
        type: string
      lastReferrer:
        type: string
  User:
    properties:
      id:
        type: integer
      name:
        type: string
      monthlyXp:
        type: integer
      streak:
        type: integer
      motivation:
        type: string
      picture:
        type: string
      learningLanguage:
        type: string
      hasFacebookId:
        type: boolean
      facebookId:
        type: string
      inviteURL:
        type: string
      canUseModerationTools:
        type: boolean
      fromLanguage:
        type: string
      _achievements:
        type: array
        items:
          $ref: '#/definitions/Achievement'
      location:
        type: string
      username:
        type: string
      bio:
        type: string
      hasGoogleId:
        type: boolean
      optionalFeatures:
        type: array
        items:
          $ref: '#/definitions/OptionalFeature'
      currentCourse:
        $ref: '#/definitions/CurrentCourse'
      currentCourseId:
        type: string
      hasPhoneNumber:
        type: boolean
      creationDate:
        type: integer
      hasPlus:
        type: boolean
      roles:
        type: array
        items:
          type: string
      emailVerified:
        type: boolean
      courses:
        type: array
        items:
          $ref: '#/definitions/Course'
      xpGains:
        type: array
        items:
          $ref: '#/definitions/XpGain'
      enableSpeaker:
        type: boolean
      deactivated:
        type: boolean
      emailEditSuggested:
        type: boolean
      emailStreakFreezeUsed:
        type: boolean
      gems:
        type: integer
      pushEditSuggested:
        type: boolean
      pushAnnouncement:
        type: boolean
      totalXp:
        type: integer
      enableMicrophone:
        type: boolean
      insiteImmersionLingots:
        type: boolean
      pushPromotion:
        type: boolean
      emailStreakSaver: 
        type: boolean
      insiteSentenceEdited:
        type: boolean
      canCreatePearsonClassroom:
        type: boolean
      xpGoal:
        type: integer
      email:
        type: string
      timezone:
        type: string
      timezoneOffset:
        type: string
      coachOutfit:
        type: string
      weeklyXp:
        type: integer
      lingots:
        type: integer
      googleId:
        type: string
      countryCode:
        type: string
      streakData:
        $ref: '#/definitions/StreakData'
      referralInfo:
        $ref: '#/definitions/ReferralInfo'
      pushStreamPost:
        type: boolean
      adsEnabled:
        type: boolean
      emailAnnouncement:
        type: boolean
      xpGoalMetToday:
        type: boolean
      pushLeaderboards:
        type: boolean
      zapsRemaining:
        type: integer
      emailSchoolsAnnouncement:
        type: boolean
      emailWeeklyProgressReport:
        type: boolean
      emailWeeklyReport:
        type: boolean
      pushComment:
        type: boolean
      pushFollow:
        type: boolean
      pushClubs:
        type: boolean
      pushStreakSaver:
        type: boolean
      emailClassroomJoin:
        type: boolean
      emailAssignment:
        type: boolean
      emailAssignmentComplete:
        type: boolean
      lastStreak:
        $ref: '#/definitions/LastStreak'
      shopItems:
        type: array
        items:
          $ref: '#/definitions/ShopItem'
      health:
        $ref: '#/definitions/Health'
  Health:
    properties: 
      maxHearts:
        type: integer
      healthEnabled:
        type: boolean
      eligibleForFreeRefill:
        type: boolean
      secondsPerHeartSegment:
        type: integer
      hearts:
        type: integer
      useHealth:
        type: boolean
      secondsUntilNextHeartSegment:
        type: integer
  ShopItem:
    properties:
      purchaseId:
        type: string
      purchaseDate:
        type: integer
      itemName:
        type: string
      id:
        type: string
      purchasePrice:
        type: integer
  LastStreak:
    properties:
      isAvailableForRepair:
        type: boolean
      googlePlayProductId:
        type: string
      googlePlayDevPayload:
        type: string
      length:
        type: integer
      daysAgo:
        type: integer
      lastReachedGoal:
        type: integer
      shortenedProductId:
        type: string
  ReferralInfo:
    properties:
      inviterName:
        type: string
      unconsumedInviteeName:
        type: string
      numBonusesReady:
        type: integer
      hasReachedCap:
        type: boolean
      isEligibleForBonus:
        type: boolean
  StreakData:
    properties:
      length:
        type: integer
      updatedTimeZone:
        type: string
      xpGoal:
        type: integer
      updatedTimestamp:
        type: integer
  Achievement:
    properties:
      tier:
        type: integer
      count:
        type: integer
      tierCounts:
        type: array
        items:
          type: integer
      name:
        type: string
      shouldShowUnlock:
        type: boolean
  OptionalFeature:
    properties:
      id:
        type: string
      status:
        type: string
  CurrentCourse:
    properties:
      status:
        type: string
      learningLanguage: 
        type: string
      healthEnabled: 
        type: boolean
      xp: 
        type: integer
      wordsLearned: 
        type: integer
      id: 
        type: string
      fromLanguage: 
        type: string
      title: 
        type: string
      smartTips:
        type: array
        items:
          $ref: '#/definitions/SmartTip' 
      trackingProperties:
        $ref: '#/definitions/TrackingProperties' 
      crowns:
        type: integer
      progressQuizHistory:
        type: array
        items:
          $ref: '#/definitions/ProgressQuizItem'
      sections:
        type: array
        items:
          $ref: '#/definitions/CourseSection'
  CourseSection:
    properties: 
      numRows:
        type: integer
      checkpointFinished:
        type: boolean
      checkpointAccessible:
        type: boolean
      name:
        type: string
      summary:
        type: string
      preload:
        type: boolean
      extraCrowns:
        type: integer
      placementTestAvailable:
        type: boolean
      authorId:
        type: string
      progressVersion:
        type: integer
  ProgressQuizItem:
    properties:
      endTime:
        type: integer
      score:
        type: number
      startTime:
        type: integer
  TrackingProperties:
    properties:
      direction:
        type: string
      total_crowns:
        type: integer
      took_placementtest:
        type: boolean
      learning_language:
        type: string
      gold_skill_count:
        type: integer
      gold_tree_percent:
        type: number
      num_skills_newly_decayed:
        type: integer
      num_skills_decayed:
        type: integer
      ui_language:
        type: string
      max_tree_level:
        type: integer
  SmartTip:
    properties:
      url:
        type: string
      smartTipId:
        type: string
  Course:
    properties:
      id:
        type: string
      preload:
        type: boolean
      placementTestAvailable:
        type: boolean
      authorId:
        type: string
      title:
        type: string
      learningLanguage:
        type: string
      xp:
        type: integer
      healthEnabled:
        type: boolean
      fromLanguage:
        type: string
      crowns:
        type: integer
  XpGain:
    properties:
      eventType:
        type: string
      xp:
        type: integer
      skillId:
        type: string
      time:
        type: integer
  Leaderdoard:
    properties:
      active:
        $ref: '#/definitions/LeaderdoardActive'
      num_sessions_remaining_to_unlock:
        type: integer
      tier:
        type: integer
  LeaderdoardActive:
    properties:
      cohort:
        type: object
        properties:
          rankings:
            type: array
            items:
              $ref: '#/definitions/LeaderdoardRanking'
          tier:
            type: integer
      score:
        type: number
      user_id:
        type: integer
      complete:
        type: boolean
  LeaderdoardRanking:
    properties:
      avatar_url: 
        type: string
      display_name:
        type: string
      score:
        type: number
      streak_extended_today:
        type: boolean
      user_id:
        type: integer